body {
    background-color: cornsilk;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color: darkolivegreen;
    opacity: 0.85;
    color: cornsilk;
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link {
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 80px;
    border-radius: 45%;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: cornsilk;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 35px;
}
nav a:hover {
    background-color: rgb(119, 147, 71);
    color: cornsilk;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: cornsilk;
}
.home-title {
    color: rgb(66, 31, 5);
    font-size: 2em;
    margin-top: 10px;
}
.home-grid h2 {
    color: rgb(66, 31, 5);
}
main section img {
    box-sizing: border-box;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img {
    border: 10px solid rgb(66, 31, 5);
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px rgb(30, 14, 2);
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px rgb(30, 14, 2);
}
.icon {
    width: 80px;
    padding-top: 10px;
}
h2 {
    margin: 0;
}

h1, h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4 {
    color: rgb(66, 31, 5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button-box {
    text-align: center;
}
.book, .join{
    background-color: cornsilk;
    color: rgb(66, 31, 5);
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book {
    background: cornsilk;
    color: rgb(66, 31, 5);
}
.join {
    background-color: darkolivegreen;
    color: cornsilk;
}
.book:hover{
    background-color: darkolivegreen;
    color: cornsilk;
}
.join:hover {
    background-color: cornsilk;
    color: darkolivegreen;
}
.home-grid {
    display: grid;
    grid-template-columns: 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: darkolivegreen;
    grid-column: 1/11;
    grid-row: 4/9;
}
.msg {
    background-color: cornsilk;
    color: rgb(66, 31, 5);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px rgb(30, 14, 2);
}
.msg h2 {
    color: rgb(66, 31, 5);
}
.msg p {
    color: rgb(66, 31, 5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: darkolivegreen;
    color: cornsilk;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: cornsilk;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer a:hover {
    color: rgb(119, 147, 71);
}
footer p {
    font-size: .9em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

/* beginning of subpage */

#together {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    margin-top: 0px;
}
#together-box {
    grid-column: 2/4;
    grid-row: 2/3;
    z-index: -1;
    margin-left: 38px;
}
#together-img {
    width: 75%;
}
#together-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#together-msg h1, #hero-msg h4 {
    text-align: center;
    color: cornsilk;
}
.rates-title {
    color: rgb(66, 31, 5);
    font-size: 2em;
    margin-top: -20px;
}
.rates-grid {
    display: grid;
    grid-template-columns: 1.2fr 1.5fr .15fr 2fr 1.2fr;
}
#rates-container1 {
    grid-column: 2/3;
    margin-top: 75px;
}
#rates-container1 h5 {
    margin-top: -10px;
    margin-bottom: 12px;
}
h5 .subheading {
    margin-bottom: 50px;
}
input {
    display: none;
}
label {
    display: block;
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background-color: darkolivegreen;
    border-radius: 3px;
    color: cornsilk;
    transition: ease .5s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
label:hover {
    background-color: rgb(119, 147, 71);
}
.content {
    background-color: cornsilk;
    padding: 10px 25px;
    border: 1px solid rgb(66, 31, 5);
    margin: 0 0 1px 0;
    border-radius: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content p {
    font-size: medium;
}
input + label + .content {
    display: none;
}
input:checked + label + .content {
    display: block;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#calendar-body div.today {
    background-color: cornsilk;
    color: rgb(66, 31, 5);
}
body {
    font-family: Arial, sans-serif;
}
#calendar {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(66, 31, 5);
    color: cornsilk;
}
#days {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(66, 31, 5);
    color: cornsilk;
    text-align: center ;
    border: 1px solid rgb(66, 31, 5);
}
#calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background-color: cornsilk;
    transition: opacity 0.5s ease;
    opacity: 1;
}
#calendar-body.fade-out {
    opacity: 0;
}
#calendar-body div {
    padding: 20px;
    background-color: cornsilk;
    text-align: center;
}
#calendar-body div.today {
    background-color: darkolivegreen;
    color: cornsilk;
}
.change-month {
    cursor: pointer;
}
#rates-container2 {
    grid-column: 4/5;
    margin-top: 8.3em;
}
@media screen and (max-width: 900px) {
    #together, .rates-grid {
        display: block;
        height: auto;
    }
    #together {
        margin-top: 0;
    }
    #together-msg {
        margin-top: 15px;
    }
    #together-msg h1 {
        color: rgb(66, 31, 5);
    }
    .rates-title {
        font-size: 25px;
    }
}
